<div id='container' ng-controller='ShortenController'>
  <form name='urlForm' ng-submit='addLink(urlForm.$valid, newLink)' novalidate>  
    <input placeholder='input link here' name='url' ng-model='newLink' type='url' 
    ng-pattern="/^(?!mailto:)(?:(?:https?|ftp):\/\/)?(?:\S+(?::\S*)?@)?(?:(?:(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[0-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))|localhost)(?::\d{2,5})?(?:\/[^\s]*)?$/i" required/>
    <p ng-if='urlForm.url.$invalid && !urlForm.url.$pristine'>Not a Valid URL</p>
    <button type='submit'>Add</button>
  </form>

</div>
